.main {
    width: 980px;
    height: 455px;

    margin-left: 220px;
    margin-top: 10px;
}

.main .focus {
    float: left;
    width: 715px;
    height: 455px;
}

.main .newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    width: 250px;
    height: 165px;
    border: 1px solid #e4e4e4;

    /* temp style*/
    background-color: #fff;
}

.news-hd {
    height: 32px;
    padding: 0 16px;
    line-height: 32px;
    border-bottom: 1px dashed #e4e4e4;
}

.news-hd span:after {
    content: '\f0da';
    position: relative;
    right: 0;
    top: 0;
    font-family: FontAwesome;
}

.news-bd {
    float: left;
    width: 100%;
}

.news-bd ul {
    margin-top: 10px;
}

.news-bd li {
    padding-left: 16px;
    line-height: 22px;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 260px;
    height: 209px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
    line-height: 1;
}

.lifeservice ul li a {
    display: inline-block;
    width: 61px;
    height: 50px;
    background: url(../assets/images/icons.png) no-repeat 
}
.lifeservice ul li a:hover+p{
    color: red;
}
.bargain {
    margin-top: 7px;
}