.banner {
    height: 450px;

    background-color: rgba(30, 5, 109);
}

.banner .write {
    width: 1200px;
    height: 450px;

    background-color: rgb(222, 0, 37);
    background-image: url(images/banner2_20190819_210028.png);
}


/* > 側邊欄 start ----------------------------------------------*/

.banner .sub-nav ul {

    float: left;

    height: 450px;
    width: 200px;
}

.banner .sub-nav ul li {

    float: left;

    height: 50px;
    width: 200px;

    /* 防止 a 連結 padding 溢出 */
    overflow: hidden;

}

.banner .sub-nav li a {
    display: inline-block;

    height: 50px;
    width: 200px;

    padding-left: 20px;

    font: 500 16px "Microsoft YaHei";
    line-height: 50px;

    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .sub-nav a:hover {
    background-color: rgb(181, 101, 255);
}

.banner ul li a span{
    float: right
}
/* 側邊欄 end ------------------------------------------------ */


/* > 課程提醒列表 start ------------------------------------------- */

.course {
    float: right;

    width: 250px;

    margin: 50px auto;

    background-color: #fff;
    line-height: 1.5;
}

.course h3 {
    height: 50px;

    line-height: 50px;
    text-align: center;

    color: #fff;
    background-color: skyblue;
}


.class-list h4 {
    color: #000;
    font-size: 17px;

    /* 加大字間距 */
    letter-spacing: 1px;
}

.class-list p {
    color: #afafaf;
    font-size: 13px;
    font-weight: bold;
}

.class-list ul {
    padding: 0 20px;
}

.class-list ul li {
    padding: 10px 0;
    border-bottom: 1px solid #cbcbcb;
}

.course .class-btn {
    width: 210px;
    height: 40px;

    margin: 5px 10px;
    margin-left: 20px;
    border: rgb(96, 173, 255) solid 1px;
    background-color: transparent;
    font: 600 16px/2 "Microsoft YaHei";
    color: rgba(96, 173, 255);
}