body{
    font: 17px/27px "Microsoft Yahei";
}
#Header{
    margin: 0 auto;
    text-align: center;
}
#Container{
    line-height: 25px;
}

.logo, .Header__search{
    height: 35px;
}
.Container__text{
    font-weight: 500;
    text-indent: 50px;
}

.cat--image{
    margin: 0 auto;
}
.imageAnnotation{
    margin: 0 auto;
    color: slategray;
    font-size: 16px;
    line-height: 26px;
}
.hyperlink{
    color: rgb(78, 78, 255);
    text-decoration: none;
}
.hyperlink:hover{
    color:steelblue;
    text-decoration: underline;
}
.space{
    height:100px;
}