/* > 通常設定 ----------------------------------------------- */
body {
    margin: 0 5%;
}

* {
    font: 400 16px "Microsoft Yahei";
}

a {
    text-decoration: none;
    color: #000
}

span {
    display: inline-block;
}

.container {
    display: inline-block;
}

/* > 背景圖片 ------------------------------------------------ */

.logo--bg {
    margin: 0 auto;
    background-image: url(../assets/images/59/bg_title.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1000px;
    height: 200px;
}

/* > 導航欄位 ------------------------------------------------ */

.nav {
    margin: 0 auto;
    height: 50px;
    background-color: #fafafa;
    border: 2px solid #efefef;
    border-top: 5px solid rgb(255, 162, 0);
    color: #000;
    text-align: center;
}

.nav ul,
.nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
}

.nav a,
.nav span {
    display: inline-block;
    line-height: 50px;
    color: #000000;
    text-align: center;
    padding: 0 20px;
}

.nav a:hover {
    background-color: #cecdcd;
    color: #ffffff;
}


/* > 搜尋欄位 ------------------------------------------------- */

input {
    width: 300px;
}

/* > 下載應用程式 ---------------------------------------------- */

.download a {
    background-color: pink;
}


/* > 側邊快捷欄位 ---------------------------------------------- */

.sidebar {
    display: inline-block;
    width: 250px;
    height: 360px;
    background-color: rgb(202, 202, 202);

    /* overflow 屬性可以在內容溢出容器大小時，選擇處理方法 */

    /* 
    1. overflow: hidden; 隱藏
    2. overflow: visible; 顯示
    */
    overflow: hidden;

}

.sidebar a {
    margin: 0 0;
    padding: 0 0;
    padding-left: 35px;
    display: block;
    color: #000000;
    font: 500 18px "Microsoft Yahei";
    height: 60px;
    line-height: 60px;
}

.sidebar a:hover {
    background-color: #82cdff;
    color: #ffffff;
}

/* > 商品縮圖 ------------------------------------------------- */

.container ul,
.container li {
    display: inline-block;
    padding: 0 0;
}


ul .commodity {
    display: inline-block;
    height: 360px;
    width: 250px;
    background-color: pink;
}

#test {
    padding: 0 0;
    margin: 0 0;
}