/* 版心 */
.write {
    width: 1200px;
    margin: 0 auto;
    vertical-align: middle;
}

/* 左浮動 */
.fl {
    float: left;
}

/* 右浮動 */
.fr {
    float: right;
}

/* > 快捷導航欄 start --------------------------------------------------------------------------*/
.shortcut {
    width: 100%;
    height: 28px;
    background-color: #d4d4d4;
}

.shortcut ul {
    margin: 4px 0;
}

.shortcut .fl li,
.shortcut .fr li {
    float: left;
    padding: 0 10px;
}

.shortcut .fr li {
    border-right: 1px solid #777;
}

.shortcut .more::after {
    /* 字體圖標 */
    content: '\f107';
    position: relative;
    padding-left: 5px;
    font-family: FontAwesome;
    font-weight: bold;
    width: 40px;
    height: 40px;
}

.shortcut a:hover {
    font-size: larger;
}

/*  快捷導航欄 end -----------------------------------------------------------------------*/
/* > 頭部資訊欄 start --------------------------------------------------------------------*/
header .write {
    position: relative;
    height: 106px;
}

header .logo a {
    position: absolute;
    left: 0;
    top: 10px;
    width: 180px;
    height: 73px;
    /* 把標題文字隱藏 */
    font-size: 0;
    background: url(../assets/images/logo.png) no-repeat center center;
}

.search {
    position: absolute;
    left: 50%;
    margin-left: -270px;
    top: 15px;
    width: 540px;
    height: 50px;
}

.search input {
    width: 460px;
    height: 28px;
    padding-left: 20px;
    border: 2px solid rgb(200, 0, 0);
}

.search a {
    position: absolute;
    right: 0;
    width: 80px;
    height: 28px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    background-color: rgb(200, 0, 0);
}

.hotwords ul {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50px;
    width: 540px;
    height: 20px;
}

.hotwords li {
    float: left;
    padding-right: 10px;
}

.hotwords li a {
    color: #888;
}

.hotwords li a:hover {
    color: red;
}

.shopcar {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 130px;
    height: 35px;
    border: 1px solid #bbbbbb;
    background-color: #f6f6f6;
    text-align: center;
    line-height: 35px;
}

.shopcar::before {
    content: "\f07a";
    margin-right: 10px;
    font-family: FontAwesome;
    color: rgb(200, 0, 0);
}

.shopcar::after {
    content: "\f105";
    margin-left: 10px;
    font-family: FontAwesome;
    color: #888;
}

.shopcar .count {
    position: absolute;
    top: -10px;
    /* 定位用 left ，因為數字會往右走 */
    left: 105px;
    padding: 5px;
    height: 15px;
    background-color: red;
    border-radius: 10px 10px 10px 0;
    line-height: 5px;
    color: #fff;
}

/*  頭部資訊欄 end --------------------------------------------------------------------*/

/*  > 主導航欄 start --------------------------------------------------------------------*/
nav {
    border-bottom: 3px solid rgb(200, 0, 0);
}

nav .write {
    width: 1200px;
    height: 45px;
    font: 520 16px "Microsoft YaHei";
    line-height: 45px;
    cursor: pointer;
}

nav .dropdown {
    width: 210px;
    height: 45px;
}

nav .dropdown .dt {
    width: 210px;
    height: 100%;
    background-color: rgb(200, 0, 0);
    color: #fff;
    text-align: center;
}

.dropdown .dd {
    /* display: none; */
    width: 210px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .dd ul li {
    height: 31px;
}

.dropdown .dd ul li a {
    position: absolute;
    height: 31px;
    width: 210px;
    line-height: 31px;
    padding-left: 15px;
}

.dropdown .dd ul li a:hover {
    background-color: #fff;
    color: #c81623;
}

.dropdown .dd ul a:hover::after {
    color: #c81623;
}

.dropdown .dd ul li a::after {
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    font-family: FontAwesome;
    content: '\f0da';
    font-size: 14px;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

nav .navitems ul {
    width: 990px;
    height: 45px;
}

nav .navitems li {
    float: left;
    padding: 0 20px;
}

nav .navitems li a {
    color: #888;
}

nav .navitems li a:hover {
    color: red;
}

/*   主導航欄 end --------------------------------------------------------------------*/

/* > 底部 footer 樣式 start ---------------------------------------------------------*/
footer .write {
    width: 1200px;
    height: 420px;
    background-color: #f6f6f6;
}

.mod_service {
    padding-top: 30px;
    height: 110px;
    border-bottom: 1px solid #ccc;
}

.mod_service h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.mod_service li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 30px;
}

.mod_service .service_txt {
    padding: 5px 0;
}

.mod_service .service_txt h3 {
    font-size: 14px;
}

.mod_service .service_txt p {
    font-size: 12px;
}

.serv--bc1 {
    background: url(../assets/images/icons.png) no-repeat -253px -3px;
}

.serv--bc2 {
    background: url(../assets/images/icons.png) no-repeat -255px -53px;
}

.serv--bc3 {
    background: url(../assets/images/icons.png) no-repeat -257px -106px;

}

.serv--bc4 {
    background: url(../assets/images/icons.png) no-repeat -258px -157px;

}

.serv--bc5 {
    background: url(../assets/images/icons.png) no-repeat -256px -208px;

}

.mod_help {
    height: 192px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.mod_help dl {
    float: left;
    width: 192px;
    height: 192px;
    padding-left: 25px;
    letter-spacing: .1em;
    line-height: 1.6;
}

.mod_help dt {
    font-size: 18px;
    font-weight: 600;
}

.mod_help dd a,
.mod_help dt a {
    color: #4e4e4e;
}

.mod_help dd a:hover {
    color: red;
}

.mod_help .help--QRcode {
    float: right;
    width: 240px;
    height: 192px;
    padding-left: 20px;
}

.help--QRcode .QRcode-img {
    width: 90px;
    height: 90px;
    background: url(../assets/images/wx_cz.jpg) no-repeat center center;
}

.mod_copyright {
    width: 1200px;
    height: 118px;
    margin-top: 20px;
    text-align: center;
    color: #999999;

}

.mod_copyright ul {
    width: 1200px;
    height: 20px;
    text-align: center;
}

.mod_copyright li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #bababa;
    line-height: .9;
}

.mod_copyright li:last-child {
    border: 0;
}

/* 底部 footer 樣式 end ----------------------------------------------------------*/