* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #999;
}

.box {
    /* 給父親元素添加 相對定位 */
    position: relative;

    width: 280px;
    height: 400px;

    margin: 200px auto;
    background-color: #fff;

}
.box em{
    font-style: normal;
}

.box em img {
    /* 再給子元素添加 絕對定位 */
    position: absolute;
    top: 5px;
    right: -4px;

}

.box>img {
    width: 100%;
}

.commodity-info {
    line-height: 1.5;
    margin: 25px 20px 0;
    font-size: 13px;
    font-weight: bold;
}

.review {
    margin: 50px 20px 0;

    color: #888;
    font-size: 10px;
}

.box h4 {
    padding: 0 20px;
    margin: 10px 0px;
}

.box h4 em {
    color: #888;
    font-weight: 700;
}

.box .money {
    color: orange;
    font-weight: 700;
}